.vscode/
.vs/

x64/
output/
video_server/

recording/
hls_stream/
temp/

local_video.mp4

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.aps
*.rc

*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.log
*.mp4

.DS_Store
Thumbs.db